.mainContainerVehicles{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}
.mainSectionsVehicles{
    max-width: 1920px;
    width: 100%;
    padding: 0 2rem;
    padding-top: clamp(3rem, 5vw, 7rem);
}
.firstSectionVehicles{
    /* No specific styling in the original CSS */
}
.lightTextVehicles{
    font-weight: 200;
}
.sectionHeaderVehicles{
    font-size: clamp(50px, 7vw, 90px);
    padding-top: 2rem;
}
.secondSectionVehicles{
    padding-top: clamp(3rem, 5vw, 3rem);
    padding-bottom: 4rem;
    width: 100%;
}
.modelImageContainerVehicles{
    height: 325px;
    position: relative;
}
.featuredVehicleImageVehicles{
    position: relative;
    height: 100%;
    width: 100%;
}
.featuredVehicleImageGClassVehicles{
    position: relative;
    height: 100%;
    width: 100%;
    object-position:79% center;
}
.featuredVehicleImagePorscheVehicles{
    position: relative;
    height: 100%;
    width: 100%;
    object-position:35% center;
}
.featuredVehicleOverlayVehicles {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0.3) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.featuredVehicleOverlay1Vehicles {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.featuredVehicleOverlay2Vehicles {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.modelGridItemVehicles{
    display: grid;
    grid-template-rows: auto auto auto 100px ;
    gap: 1rem;
}
.modelGridItemFutureVehicles{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}
.featuredModelsGridVehicles{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
    padding-bottom: clamp(2rem, 5vw, 7rem);
}
.featuredModelsGridPageVehicles{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
    padding-bottom: clamp(2rem, 5vw, 3rem);
}
@media (min-width: 1280px) {
    .featuredModelsGridVehicles{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .featuredModelsGridPageVehicles{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .modelGridItemVehicles{
        max-width: 585.85px;
        max-width: 600px;
    }
}