.mainContainer{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}
.mainSections{
    max-width: 1920px;
    width: 100%;
    padding: 0 2rem;
    padding-top: clamp(3rem, 5vw, 7rem);
}
.firstSection{
    /* No specific styling in the original CSS */
}
.lightText{
    font-weight: 200;
}
.sectionHeader{
    font-size: clamp(50px, 7vw, 90px);
    padding-top: 2rem;
}
.secondSection{
    padding-top: clamp(3rem, 5vw, 3rem);
    padding-bottom: 4rem;
    width: 100%;
}
.modelImageContainer{
    height: 325px;
    position: relative;
}
.modelButtonContainer{
    height: 100px;
}
.featuredVehicleImage{
    position: relative;
    height: 100%;
    width: 100%;
}
.featuredVehicleImageGClass{
    position: relative;
    height: 100%;
    width: 100%;
    object-position:79% center;
}
.featuredVehicleImagePorsche{
    position: relative;
    height: 100%;
    width: 100%;
    object-position:35% center;
}
.featuredVehicleOverlay {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0.3) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.featuredVehicleOverlay1 {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.featuredVehicleOverlay2 {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0)20%,  rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
}
.modelGridItem{
    display: grid;
    grid-template-rows: auto auto auto 100px ;
    gap: 1rem;

}
.modelGridItemFuture{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}
.featuredModelsGrid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
    padding-bottom: clamp(2rem, 5vw, 7rem);
}
.featuredModelsGridPage{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
    padding-bottom: clamp(2rem, 5vw, 3rem);
}

@media (min-width: 1280px) {
    .featuredModelsGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
    .featuredModelsGridPage{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .modelGridItem{
        max-width: 585.85px;
    }
    .modelGridItemFuture{
        max-width: 585.85px;
    }
}