.mainContainerLegalLegal{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}
.mainSectionsLegal{
    max-width: 1920px;
    width: 100%;
    padding: 0 2rem;
    padding-top: clamp(3rem, 5vw, 7rem);
}
.lightTextLegal{
    font-weight: 200;
}
.boldTextLegal{
    font-weight: 500;
}
.sectionHeaderLegal{
    font-size: clamp(50px, 7vw, 90px);
    padding-top: 2rem;
}
.secondSectionLegal{
    padding-top: clamp(3rem, 5vw, 3rem);
    width: 100%;
}
.goBackButtonContainerLegal{
    margin-top: 2rem;
}