@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  
  h1 {
    max-width: 100%;
    font-size: clamp(50px, 7vw, 90px);
    margin-top: 0.5rem;
    line-height: 1.2;
  }

  h2 {
    font-weight: 500;
    font-size: 40px;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }
}
